@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body,
.background,
.container,
.content-container,
.left-side,
.button-container,
.logos-container,
.logo-container,
.text-container-2eqs,
.card-container,
.card {
  display: flex;
}

.header,
.list-container,
.left-side,
.logos-container,
.logo-container,
.text-container-2eqs,
.card-container,
.card {
  justify-content: center;
}

body {
  overflow-x: hidden;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  min-width: 375px;
  max-width: 1440px;
}

.background {
  position: absolute;
  z-index: -1;
  height: 100%;
  min-width: 375px;
  width: 1440px;
  background-image: url(img/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.circle {
  position: absolute;
  z-index: -1;
  right: -3vw;
  top: -10vh;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: rgba(124, 58, 237, 0.2666666667);
  filter: blur(80px);
}

.circle2 {
  position: absolute;
  z-index: 2;
  right: 28%;
  top: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #1DB5BE;
  filter: blur(50px);
  opacity: 0.6;
}

.section1 {
  height: 120vh;
}
.section1 .header {
  display: inline-flex;
  padding: 20px 50px;
  align-items: center;
  column-gap: 35vw;
}
.section1 .header .logo {
  cursor: pointer;
  transition: transform 0.3s;
}
.section1 .header .logo:hover {
  transform: scale(1.1);
}
.section1 .header .navbar-container {
  display: inline-flex;
  gap: 32px;
}
.section1 .header .navbar-container .list-container {
  list-style: none;
  display: inline-flex;
  align-items: center;
}
.section1 .header .navbar-container .list-container .list-element {
  padding: 4px 8px;
  font-size: 1.15rem;
  font-weight: 600;
}
.section1 .header .navbar-container .list-container .list-element .element {
  display: inline;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 3px;
  border-radius: 8px;
  color: #000;
  transition: color 0.3s;
}
.section1 .header .navbar-container .list-container .list-element .element:hover {
  color: #FFA500;
}
.section1 .header .navbar-container .list-container .list-element .element:active {
  border: 2px solid #47169B;
}
.section1 .header .container {
  gap: 8px;
}
.section1 .header .container img {
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}
.section1 .header .container img:hover {
  transform: scale(1.1);
}

.content-container {
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 50px 7vw;
}
.content-container .left-side {
  align-self: flex-start;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 400px;
  row-gap: 5%;
}
.content-container .left-side h1 {
  max-width: 70%;
  font-size: 3.5rem;
  font-weight: 700;
}
.content-container .left-side p {
  max-width: 63%;
  font-size: 1rem;
}
.content-container .left-side .button-container {
  gap: 3%;
}
.content-container .left-side .button-container .button {
  font-size: 1.15rem;
  font-weight: 700;
  color: #FFF;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 10px 15px;
  cursor: pointer;
}
.content-container .left-side .button-container .button:active {
  border: 2px solid #47169B;
}
.content-container .left-side .button-container .start {
  background: #7C3AED;
  transition: background-color 0.3s;
}
.content-container .left-side .button-container .start:hover {
  background: #AD80FA;
}
.content-container .left-side .button-container .watch {
  background: transparent;
  color: #7C3AED;
}

.logos-container {
  align-items: center;
  height: 15vh;
  width: 90%;
}
.logos-container .logo-container {
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 40px;
  border-block: 2px solid #E5E7EB;
}
.logos-container .logo-container img {
  cursor: pointer;
  transition: transform 0.4s;
}
.logos-container .logo-container img:hover {
  transform: scale(1.1);
}

.section2 {
  height: 120vh;
}
.section2 .text-container-2eqs {
  height: 40%;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}
.section2 .text-container-2eqs h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.section2 .text-container-2eqs p {
  font-size: 1rem;
  text-align: center;
  max-width: 50%;
}
.section2 .card-container {
  align-items: center;
  flex-wrap: wrap;
  row-gap: 7vh;
}
.section2 .card-container .card {
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 29px;
  width: 21%;
  row-gap: 2vh;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
}
.section2 .card-container .card:hover {
  box-shadow: 0 0 5px #808080;
  transform: scale(1.1);
}
.section2 .card-container .card p {
  text-align: center;
  max-width: 300px;
  font-size: 0.9rem;
}

.section3 {
  position: relative;
  z-index: -2;
  height: 70vh;
  width: 100%;
  background: #D5FAFC;
  padding: 100px;
}
.section3 .special-chr {
  position: absolute;
  margin-left: 120px;
  margin-top: -100px;
  z-index: -1;
  font-size: 10rem;
}
.section3 .container1 {
  margin-left: 220px;
}
.section3 .container1 h1 {
  font-size: 2rem;
  font-weight: 700;
  max-width: 400px;
  margin-bottom: 10px;
}
.section3 .box-container {
  max-width: 900px;
  height: 400px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-left: auto;
}
.section3 .box-container .right-side-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.section3 .box-container .continer {
  background: #FFF;
  padding: 19px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.0588235294), 0px 4px 8px -2px rgba(17, 24, 39, 0.1019607843);
  border-radius: 8px;
  gap: 32px;
}
.section3 .box-container .text-container {
  display: flex;
}
.section3 .box-container .text-container-2 {
  display: flex;
  flex-direction: column;
}
.section3 .box-container .text-container-2 span {
  color: #808080;
  font-size: 0.9rem;
}
.section3 .box-container .container2 {
  max-width: 310px;
}
.section3 .box-container .container2 .text-container-1swew1 {
  column-gap: 10px;
  max-width: 90%;
}
.section3 .box-container .container3 {
  max-width: 400px;
}
.section3 .box-container .container3 .text-container-1swew2 {
  column-gap: 10px;
  max-width: 360px;
}
.section3 .box-container .container4 {
  max-width: 250px;
}
.section3 .box-container .container4 .text-container-1swew3 {
  column-gap: 10px;
}

.section4 {
  height: 100vh;
  width: 100%;
}
.section4 .section4-container1 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section4 .section4-container1 .container1-jq1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section4 .section4-container1 .container1-jq1 h1 {
  font-size: 3rem;
  font-weight: bold;
  max-width: 450px;
  margin-bottom: 10px;
}
.section4 .section4-container1 .container1-jq1 p {
  font-weight: bold;
}
.section4 .section4-container1 .container2-jq1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 40%;
}
.section4 .section4-container1 .container2-jq1 .child-containers {
  padding: 20px;
  width: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: transform 0.4s, border 0.4s;
}
.section4 .section4-container1 .container2-jq1 .child-containers:hover {
  border: 2px solid #E5E7EB;
  transform: scale(1.1);
}
.section4 .section4-container2 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section4 .section4-container2 .container3-jq1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section4 .section4-container2 .container3-jq1 h1 {
  font-size: 3rem;
  font-weight: bold;
  max-width: 450px;
  margin-bottom: 10px;
}
.section4 .section4-container2 .container3-jq1 p {
  max-width: 440px;
  font-weight: bold;
}
.section4 .container3-jq2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/semiCircle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.section4 .container3-jq2 div {
  width: 70%;
  height: 50%;
  text-align: center;
}
.section4 .container3-jq2 div img {
  transition: transform 0.4s;
}
.section4 .container3-jq2 div img:hover {
  transform: scale(1.1);
}

.section5 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  background: #1DB5BE;
}
.section5 .s53-container1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 .s53-container1 .s53-container-n1 {
  max-width: 70%;
}
.section5 .s53-container1 .s53-container-n1 .s53-container-01 h1 {
  max-width: 100%;
  font-size: 3rem;
  margin-bottom: 10px;
}
.section5 .s53-container1 .s53-container-n1 .s53-container-01 p {
  max-width: 100%;
  margin-bottom: 50px;
}
.section5 .s53-container1 .s53-container-n1 .s53-container-02 h1 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.section5 .s53-container1 .s53-container-n1 .s53-container-02 img {
  transition: transform 0.4s;
  cursor: pointer;
}
.section5 .s53-container1 .s53-container-n1 .s53-container-02 img:hover {
  transform: scale(1.1);
}
.section5 .s53-container1 .s53-container-n1 .s53-container-02 .img {
  margin-left: 10px;
}
.section5 .s54-container2 {
  width: 50%;
  height: 100%;
}
.section5 .s54-container2 .s54-container-01 {
  width: 100%;
  height: 100%;
  display: flex;
}
.section5 .s54-container2 .s54-container-01 .img1 {
  align-self: flex-start;
}
.section5 .s54-container2 .s54-container-01 .img2 {
  align-self: flex-end;
}

footer {
  padding: 64px 112px;
  width: 100%;
  background: #000;
  color: #FFF;
  display: flex;
}
footer .footer-container1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
footer .footer-container1 .footer-clild1 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 80%;
  height: 100%;
}
footer .footer-container1 .footer-clild1 div {
  text-align: left;
  display: flex;
  column-gap: 24px;
}
footer .footer-container1 .footer-clild1 div img {
  cursor: pointer;
  transition: transform 0.4s;
}
footer .footer-container1 .footer-clild1 div img:hover {
  transform: scale(1.2);
}
footer .footer-container1 .footer-clild1 div p {
  cursor: pointer;
  transition: transform 0.4s;
}
footer .footer-container1 .footer-clild1 div p:hover {
  transform: scale(1.2);
}
footer .footer-container2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container2 div {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 20px;
}
footer .footer-container2 div p {
  text-align: left;
  width: 135px;
}
footer .footer-container2 div img {
  cursor: pointer;
  transition: transform 0.4s;
}
footer .footer-container2 div img:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
